<h2>Ingresar Venta Folio: {{maximo}}</h2>
<!--<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#finalizarVentaModal">Test</button>-->

<section id="actions">
  <div class="container">
    <form #facturaForm="ngForm">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">

            <label for="rutCliente">Nombre Cliente:</label>
            <div class="input-field col s12">
              <select id="rutCliente" (change)="selecionarCliente()" name="rutCliente" class="form-control"
                [(ngModel)]="clienteSelected" [ngClass]="{'is-invalid': rutCliente.errors && rutCliente.touched}"
                required #rutCliente="ngModel">                
                <option [ngValue]="clientes[i]" *ngFor="let dato of clientes; let i = index">
                  {{dato.nombre}}
                </option>
              </select>

            </div>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="rut">Rut :</label>
            <input readonly type="text" class="form-control" [(ngModel)]="cliente.rut" #rut="ngModel"
              [ngModelOptions]="{standalone: true}" id="rut">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="direccion">Direccion :</label>
            <input type="text" readonly class="form-control" [(ngModel)]="cliente.direccion" #direccion="ngModel"
              [ngModelOptions]="{standalone: true}" id="direccion">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="telefono">Telefono :</label>
            <input name="telefono" type="text" readonly class="form-control" [(ngModel)]="cliente.telefono" #telefono="ngModel"
              [ngModelOptions]="{standalone: true}" id="telefono">
          </div>
        </div>

      </div>

      <!-- <div class="row">            
            <div class="col-md-7 py-4">               
                <button type="button" class="btn btn-primary" [disabled]="cliente.rut==0 || venta.id===0"
                data-bs-toggle="modal" data-bs-target="#agregarProductoModal" (click)="activarJobs()">Agregar producto</button>                
            </div>
            <div class="col-md-2 py-4">               
                <button type="submit" class="btn btn-danger" [disabled]="detalleFacturas.length === 0">Guardar factura</button>                
            </div>            
        </div>
     -->
    </form>

  </div>

</section>
<div class="overlay" *ngIf="loader===true">
  <div class="center">
    <mat-spinner></mat-spinner>
  </div>
</div>
<!--Listado Clientes-->
<section id="clientes">
  <div class="container">
    <div class="col-md-3 py-4">
      <button type="button" class="btn btn-primary" (click)="inciarVenta()" [disabled]="isIniciarVenta()">Iniciar
        Venta</button>
      <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#agregarProductoModal"
        (click)="resetDialogArticulos()" [disabled]="isAgregarProducto()">Agregar producto</button>

    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h4>Detalle de productos</h4>
          </div>
          <div class="table-responsive">
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>#</th>
                <th scope="col" hidden>id</th>
                <th scope="col">Articulo</th>
                <th scope="col">precio</th>
                <th scope="col">cantidad</th>
                <th scope="col">Sub Total</th>
                <th>Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detalle of detallesVentas; let i = index">
                <th scope="row">{{i+1}}</th>
                <td hidden>{{detalle.id}}</td>
                <td>{{detalle.articuloDescripcion}}</td>
                <td>{{detalle.precio}}</td>
                <td>{{detalle.cantidad}}</td>
                <td *ngIf="detalle.cantidad!=undefined && detalle.precio!=undefined">{{(detalle.cantidad *
                  detalle.precio) | currency:'CLP':'$'}}</td>
                <td>
                  <a class="btn btn-danger" role="button" (click)="showDialog(detalle)">
                    <i class="fas fa-user-slash"></i> Eliminar
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
      </div>
      <!--Tarjetas laterales-->
      <div class="col-md-3">
        <div class="card text-center bg-success text-white mb-3">
          <div class="card-body">
            <h3>Total Venta</h3>
            <h4 class="display-4">
              <i class="fas fa-users"></i> {{getTotal() | currency:'CLP':'$'}}
            </h4>
          </div>
        </div>
        <div class="card text-center bg-success text-white mb-3">
          <button type="button" class="btn btn-primary" [disabled]="detallesVentas!.length<=0" data-bs-toggle="modal"
            data-bs-target="#finalizarVentaModal" (click)="generarVenta()">Generar Venta</button>
        </div>
        <div class="card text-center bg-success text-white mb-3">
          <button type="button" class="btn btn-danger" [disabled]="detallesVentas!.length<=0"
            (click)="cancelarVenta()">Cancelar Venta</button>
        </div>
      </div>
      <!--Fin tarjetas laterales-->

    </div>
  </div>
</section>

<!--Agregar cliente modal-->
<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true" id="agregarProductoModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h5 class="modal-title">Productos</h5>
        <button class="close" data-bs-dismiss="modal" #botonCerrar (click)="cerrarModal()">
          <span>&times;</span>
        </button>
      </div>

      <section id="clientes">
        <div class="container">
          <div class="row">
            <div class="col-md-9">
              <div class="card">
                <div class="card-header">
                  <h4>Listado de Articulos</h4>
                </div>

                <mat-form-field appearance="standard">
                  <mat-label>Buscar</mat-label>
                  <input matInput (keyup)="applyFilter($event)" placeholder="Ingrese texto a buscar" #input />
                </mat-form-field>


                <table mat-table [dataSource]="dataSource">

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> id </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.id}} </td>
                  </ng-container>

                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Código </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.codigo}} </td>
                  </ng-container>

                  <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.nombre}} </td>
                  </ng-container>

                  <ng-container matColumnDef="clase">
                    <th mat-header-cell *matHeaderCellDef> Clase </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.clase}} </td>
                  </ng-container>

                  <ng-container matColumnDef="marca">
                    <th mat-header-cell *matHeaderCellDef> Marca </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.marca}} </td>
                  </ng-container>

                  <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.tipo}} </td>
                  </ng-container>
                  <ng-container matColumnDef="precio_venta">
                    <th mat-header-cell *matHeaderCellDef> Precio Venta </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.precio_venta | currency:'CLP':'$'}} </td>
                  </ng-container>

                  <ng-container matColumnDef="stock">
                    <th mat-header-cell *matHeaderCellDef> Stock </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.stock }} </td>
                  </ng-container>

                  <ng-container matColumnDef="stock_min">
                    <th mat-header-cell *matHeaderCellDef> Stock Mínimo </th>
                    <td mat-cell *matCellDef="let articulo"> {{articulo.stock_min}} </td>
                  </ng-container>


                  <ng-container matColumnDef="acción">
                    <th mat-header-cell *matHeaderCellDef> Accion </th>
                    <td mat-cell *matCellDef="let articulo">
                      <button mat-raised-button color="primary" focusable="false" data-bs-toggle="modal"
                        data-bs-target="#agregarProductoModal" (click)="editar(articulo)">
                        Editar
                      </button>
                      <button mat-raised-button color="warn" focusable="false" (click)="showDialog(articulo)">
                        Eliminar
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="columnas"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnas;"
                    [ngClass]="{'highlight': selectedRowIndex == row.id}" (click)="highlight(row)">
                  </tr>
                </table>
                <mat-paginator #paginator [pageSizeOptions]="[10,25,50]" showFirstLastButtons [pageSize]="10"
                  aria-label="Select page of periodic elements">
                </mat-paginator>


              </div>
            </div>
            <!--Tarjetas laterales-->
            <div class="col-md-3">
              <div class="card text-center bg-success text-white mb-3">
                <div class="card-body">
                  <h3>Total Articulos</h3>
                  <h4 class="display-4">
                    <i class="fas fa-users"></i> {{articulos?.length}}
                  </h4>
                </div>
              </div>
              <div class="form-group">
                <label for="cantidadIngresada">Ingrese Cantidad</label>
                <input type="number" id="cantidadIngresada" name="cantidadIngresada" class="form-control" #cantidad="ngModel"
                  [(ngModel)]="cantidadIngresada" [ngClass]="{'is-invalid': cantidad.errors && cantidad.touched}"
                  required minlength="1">
                <div [hidden]="!cantidad.errors?.['required']" class="invalid-feedback">
                  Cantidad requerido
                </div>
                <div [hidden]="!cantidad.errors?.['minlength']" class="invalid-feedback">
                  Debe contener al menos 1 caracteres
                </div>
              </div>
              <div class="card text-center bg-success text-white mb-3">
                <button type="button" class="btn btn-primary" (click)="selecionarArticulo()"
                  [disabled]="cantidadIngresada<=0">Agregar Articulo</button>
              </div>
            </div>
            <!--Fin tarjetas laterales-->
          </div>

        </div>

      </section>
    </div>
  </div>

</div>

<!--Agregar cliente modal-->
<div class="modal fade" id="finalizarVentaModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-info text-white">
        <h2 class="modal-title">Finalizar Venta</h2>
        <button class="close" data-bs-dismiss="modal" #botonCerrarFinalizaVenta>
          <span>&times;</span>
        </button>
      </div>

      <form #finalizarVentaForm="ngForm" (ngSubmit)="finalizarVenta(finalizarVentaForm)">
        <div class="modal-body">          
          <div class="form-group">
            <h2><strong>Datos del cliente</strong></h2>
            <mat-divider></mat-divider>
            <label><h2>Rut Cliente: {{venta.rutCliente}} Nombre: {{cliente.nombre}}</h2></label><br>            
            <label><h2>Paterno: {{cliente.paterno}} Materno: {{cliente.paterno}}</h2></label>        
          </div>
          <mat-divider></mat-divider>
          <div class="form-group">
            <h2><strong>Monto venta:</strong> {{getTotal()}}</h2>
          </div>
          <mat-divider></mat-divider>
          <div class="form-group">
            <h2><strong>Forma de pago</strong></h2>
            <mat-form-field appearance="fill">
              <mat-label>Seleccione opcion de pago</mat-label>
              <mat-select [(value)]="selectedOpcionPago">
                <mat-option value="contado">Contado</mat-option>
                <mat-option value="credito">Credito</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="form-group" *ngIf="selectedOpcionPago=='contado'">
            <mat-form-field appearance="fill">
              <mat-label>Tipo Pago</mat-label>
              <mat-select [(value)]="selectedTipoPago">
                <mat-option value="efectivo">Efectivo</mat-option>
                <mat-option value="tarjeta">Tarjeta</mat-option>
                <mat-option value="transferencia">Transferencia</mat-option>
                <mat-option value="documento">Documento</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="form-group" *ngIf="selectedTipoPago=='tarjeta'">
              <label for="boleta">Número Boleta</label>
              <input type="text" name="boleta" class="form-control" #boleta="ngModel" [(ngModel)]="venta.boleta">
            </div>
          </div>

          <div class="form-group" *ngIf="selectedOpcionPago=='credito'">
            <mat-form-field>
              <mat-label>Datos de Credito</mat-label>
              <div class="form-group">
                <label for="creditoFecha">Fecha</label>
                <input matInput type="date" name="creditoFecha" class="form-control" #creditoFecha="ngModel"
                  [(ngModel)]="venta.creditoFecha">
              </div>              
            </mat-form-field>
          </div>

          <div class="form-group">            
             <textarea matInput placeholder="Comentario" id="creditoComentario" name="creditoComentario" class="form-control" 
             #creditoComentario="ngModel" [(ngModel)]="venta.pagoComentario" rows="5"></textarea>
          </div>
          <mat-divider></mat-divider>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="selectedOpcionPago=='seleccione'">Finalizar Venta</button>
        </div>

      </form>

    </div>
  </div>
</div>

<app-confirmation-dialog></app-confirmation-dialog>